<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Cloudyboard signout</title>
    </head>
{% extends "base.html" %}
{% load allauth i18n %}
{% block head_title %}
    {% trans "Sign Out" %}
{% endblock head_title %}
{% block content %}
<div class="header_window">
<h1>Team account</h1>
<!-- this <p> mimics Finder so that the user purpose feels familiar -->
<p><strong>{{ user.username }}</strong></p>
</div>

<div class="body_window">
    <div class="object_window">
        <h2><a href="{% url 'home_url_path' %}" class="white_font">View projects</a></h2>
    </div>
    <hr>
    <br>
    <p>Click the button below to sign out</p>
    {% url 'account_logout' as action_url %}
    {% element form method="post" action=action_url no_visible_fields=True %}
        {% slot body %}
            {% csrf_token %}
            {% if redirect_field_value %}
                <input type="hidden"
                       name="{{ redirect_field_name }}"
                       value="{{ redirect_field_value }}" />
            {% endif %}
        {% endslot %}
        {% slot actions %}
            <button class="btn btn-lg">
                {% trans 'Sign Out' %}
            </button>
        {% endslot %}
    {% endelement %}
</div>
{% endblock content %}
</html>