@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
body {
    background-color: #1b1b1c;
}
h1, p, a, .white_font {
    font-family: "Raleway", sans-serif;
    color: #fafafa;
}
a:hover {
    color: #98baff;
}
.visible_link {
    color: #98baff;
}
.main_window {
    width: 1000px;
    min-height: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
.header_window, .body_window {
    margin: 25px;
    padding: 25px;
    background-color: #2a2a2b;
    border-radius: 10px;
}
.new_item_styling {
    margin: auto;
    width: 50%;
    padding: 25px;
    border: 1px solid #fafafa;
    border-radius: 10px;
}
.delete-button{
    text-align: right;
}

/* object */
.object_window {
    border: 1px solid #fafafa;
    background-color: #2a2a2b;
    border-radius: 10px 0 0 10px;
    padding: 25px;
}
.object_window:hover {
    border: 3px solid #98baff;
    padding: 25px;
}

/* edit */
.edit_window {
    border: 1px solid #fafafa;
    border-radius: 0 10px 10px 0;
    padding: 25px;
}

/* sketch */
.sketch_window {
    border: 1px solid #fafafa;
    border-radius: 10px 10px 0 0;
    padding: 25px;
}
.comment_window {
    border: 1px solid #fafafa;
    border-radius: 0 0 0 10px;
    padding: 25px;
}
.edit_sketch_window {
    border: 1px solid #fafafa;
    border-radius: 0 0 10px 0;
    padding: 25px;
}

.object_width {
    flex: auto;
}
.edit_width {
    width: 25%;
    transition: 0.5s;
}
.edit_width:hover {
    width: 75%;
    transition: 0.5s;
}

.comment {
    max-width: 600px;
}

.image {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width: 1000px) {
    .main_window {
        padding: 0px;
        width: 100%;
    }
    .body_window {
        padding: 0;
    }

    .object_window {
        border-radius: 10px 10px 0 0;
        padding: 10px;
    }
    .object_window:hover {
        border-radius: 10px 10px 0 0;
        padding: 10px;
    }

    .edit_window {
        border-radius: 0 0 10px 10px;
        padding: 10px;
    }

    /* sketch */
    .sketch_window {
        border-radius: 10px 10px 0 0;
        padding: 10px;
    }
    .comment_window {
        border-radius: 0;
        padding: 10px;
    }
    .edit_sketch_window {
        border-radius: 0 0 10px 10px;
        padding: 10px;
    }

    .new_item_styling {
        margin: auto;
        width: 100%;
        padding: 10px;
    }
}