{% extends "base.html" %} {% block content %}
{% load crispy_forms_tags %}

<h1>Project view</h1>


{% if user.is_authenticated %}  {% for i in episode_item %}
<a href="{% url 'episode_url_path' i.episode_slug %}">
  episode name: {{ i.episode_name }}
</a>
<p> {{ i.episode_property_to_project }} </p>
<hr>
<br>

{% endfor %}
<p>Create new episode</p>

<form method="post" style="margin-top: 1.3em;">
  {{ create_episode_item | crispy}}
  {% csrf_token %}
  <button type="submit" class="btn btn-signup btn-lg">Submit</button>
</form>

{% endif %}

{% endblock %}