{% extends "base.html" %} {% block content %}
{% load crispy_forms_tags %}

<h1>Episodes</h1>


{% if user.is_authenticated %}
<!-- this <p> mimics Finder so that the user purpose feels familiar -->
<p><a href="{% url 'account_logout' %}">{{ user.username }}</a>  / <a href="{% url 'home_url_path' %}">Projects</a> / <strong>Episodes</strong></p>

<hr>
<br>
{% for i in episode_item %}
<p>Episode: {{ i.episode_chronology }}</p>
<a href="{% url 'episode_url_path' i.episode_slug %}">
  <!-- episode name -->
  {{ i.episode_name }}
</a>
<br>

<!-- edit form -->
<div class="new_item_styling">
  <p>Edit {{ i.episode_name }}</p>
  <form method="post">
    {{ edit_episode_item | crispy }}
    {% csrf_token %}
    <button type="submit" name="edit_episode" value="{{ i.episode_slug }}">Save changes</button>
  </form>
</div>

<!-- delete form -->
<form action="" method="POST">
  {% csrf_token %} {{ delete_episode_item | crispy }}
  <button type="submit" name="delete_episode" value="{{ i.episode_slug }}">Delete episode</button>
</form>

<hr>
<br>

{% endfor %}
<div class="new_item_styling">
<p>Create new episode</p>
<form method="post" style="margin-top: 1.3em;">
  {{ create_episode_item | crispy}}
  {% csrf_token %}
  <button type="submit" class="btn btn btn-lg">Create Episode</button>
</form>
</div>

{% endif %}

{% endblock %}