{% extends "base.html" %} {% block content %}
{% load crispy_forms_tags %}
<div class="header_window">
<h1>Sketches for {{ sketch_4_header }}</h1>
<!-- See models.py SketchItem() -->
{% if user.is_authenticated %}
<!-- This <p> mimics Finder so that the user purpose feels familiar -->
<p><a href="{% url 'account_logout' %}">{{ user.username }}</a>  / <a href="{% url 'home_url_path' %}">Projects</a> / <a href="{% url 'home_url_path' %}">Episodes</a> / <a href="{% url 'home_url_path' %}">Scenes</a> / <strong>Sketches</strong></p>
</div>

<div class="body_window">
{% for i in sketch_item %}
  <div class="object_window">
    <p>Artist: {{ i.sketch_artist }}</p>
      <h2 class="white_font">Sketch: {{ i.sketch_name }} </h2>
      <div>
        <div>
          <img src="{{ i.sketch_image.url }}" class="image">
        </div>
      </div>
  </div>

  <div class="row" style="margin: 0px;">
    <!-- Comment (3/4) -->
    <div class="object_window col-md-8">
      <p>director's comment:</p>
      <p>{{ i.sketch_directors_comment }}</p>
    </div>
    <!-- End comment -->
    <!-- Edit/ comment and delete (1/4) -->
    <div class="object_window col-md-4">

      <p>Edit {{ i.sketch_name }}</p>
        <form method="post"  class="white_font">
          {{ edit_sketch_item | crispy }}
          {% csrf_token %}
          <button type="submit" name="edit_sketch" value="{{ i.sketch_slug }}">Save changes</button>
        </form>

        <p>Comment {{ i.sketch_name }}</p>
        <form method="post" class="white_font">
          {{ comment_sketch_item | crispy }}
          {% csrf_token %}
          <button type="submit" name="comment_sketch" value="{{ i.sketch_slug }}">Save comment</button>
        </form>

      <br>
      <form action="" method="POST">
        {% csrf_token %} {{ delete_sketch_item | crispy }}
        <button type="submit" name="delete_sketch" value="{{ i.sketch_slug }}">Delete sketch</button>
      </form>

    </div>
  </div>
    <!-- Edit form -->
    <!--
    <div class="object_window">
      <div class="new_item_styling">
        <p>Edit {{ i.sketch_name }}</p>
        <form method="post"  class="white_font">
          {{ edit_sketch_item | crispy }}
          {% csrf_token %}
          <button type="submit" name="edit_sketch" value="{{ i.sketch_slug }}">Save changes</button>
        </form>
      </div>
    -->

      <!-- Comment form -->
      <!--
      <div class="new_item_styling">
        <p>Comment {{ i.sketch_name }}</p>
        <form method="post" class="white_font">
          {{ comment_sketch_item | crispy }}
          {% csrf_token %}
          <button type="submit" name="comment_sketch" value="{{ i.sketch_slug }}">Save comment</button>
        </form>
      </div>
    -->

      <!-- Delete form -->
      <!--
      <form action="" method="POST">
        {% csrf_token %} {{ delete_sketch_item | crispy }}
        <button type="submit" name="delete_sketch" value="{{ i.sketch_slug }}">Delete sketch</button>
      </form>
    -->
  <!-- End edit/ comment and delete -->
<!-- </div> -->
  <br>
{% endfor %}

<div class="new_item_styling">
<p>upload sketch</p>
<form action="" method="POST" style="margin-top: 1.3em;" enctype="multipart/form-data" class="white_font">
    {{ create_sketch_item | crispy }}
    {% csrf_token %}
    <button type="submit" class="" name="add_sketch">Submit sketch</button>
  </form>
</div>

{% endif %}
</div>

{% endblock %}
