{% extends "base.html" %} {% block content %}
{% load crispy_forms_tags %}

<h1>all submitted sketches</h1>
<p>Pinned sketch goes here</p>

<!-- see models.py SketchItem() -->
{% if user.is_authenticated %}
<p>Signed in as {{ user.username }}</p>
{% for i in sketch_item %}
<div>
    <div>
        <img src="{{ i.sketch_image.url }}" style="max-width: 100px; max-width: auto;">
    </div>
    <p>Artist: {{ i.sketch_artist }}</p>
</div>
<p>Sketch for scene: {{ i.sketch_property_to_scene }} </p>

<button>delete sketch</button>

<hr>
<br>

{% endfor %}
<p>upload sketch</p>
<form action="" method="POST" style="margin-top: 1.3em;" enctype="multipart/form-data">
    {{ create_sketch_item | crispy }}
    {% csrf_token %}
    <button type="submit" class="btn btn-signup btn-lg">Submit</button>
  </form>

{% endif %}
{% endblock %}
