<!-- /project/episode -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>episode view</h1>

    <!-- see models.py SceneItem() -->
    {% for i in show_scenes %}
    <div>
        <h2>
            chronology: {{ i.chronology}}
        </h2>
        <h2>
            Scene name: {{ i.scene_name }}
        </h2>
        <div>
            <p>(pin image goes here)</p>
        </div>
        <p>
            Notes: {{ i.scene_event_notes }}
        </p>
        <p>
            Most recent update: {{ i.updated_date }}
        </p>
    </div>
    {% endfor %}

</body>
</html>