<!-- / -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is the home banner</h1>
    <p>sign_in</p>
    <p>sign_out</p>
    <p>sign_up</p>

    <table>
    <!-- see models.py ProjectItem() -->
    {% for i in show_projects%}
        <h2>
            Project name: {{ i.project_name }}
        </h2>
        <p>
            Most recent update: {{ i.updated_date }}
        </p>
    </table>
    {% endfor %}

</body>
</html>