<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is the home banner</h1>
    <p>This is where you sign in</p>
    <p>This is where you sign out</p>
    <p>This is where you sign up</p>
    <br>
    <p>This is where you see invitation requests</p>
    <p>This is where you see your projects</p>
    <p>This is where you can create a new project</p>
</body>
</html>