<!-- /project -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Project view</h1>

    <!-- see models.py EpisodeItem() -->
    {% for i in show_episodes%}
    <div>
        <h2>
            Chronology: {{ i.chronology}}
        </h2>
        <h2>
            Episode name: {{ i.episode_name }}
        </h2>
        <p>
            Most recent update: {{ i.updated_date }}
        </p>
    </div>
    {% endfor %}
</body>
</html>