<!-- /project/episode/scene -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>all submitted sketches</h1>

    <!-- see models.py SketchItem() -->
    {% for i in show_sketches%}
    <div>
        <p>
            (pin sketch goes here)
        </p>
        <div>
            Sketch upload: {{ i.sketch_upload }}
        </div>
        <p>
            Pinned: {{ i.pin }}
        </p>
        <p>
            Artist: {{ i.artist }}
        </p>
        <p>
            Most recent update: {{ i.updated_date }}
        </p>
    </div>
    {% endfor %}
</body>
</html>